		
		.bg{

			position: fixed;
			top: 0%;
			left: 0%;
			z-index: -1000;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		#video{

			position: absolute;
			top: 0;
			left: 0;
			min-height: 100%;
			min-width: 100%;
		}


		.path{

			position: absolute;
			top: 29%;
			left: 37.5%;
			width: 24.5%;
			height: 46%;
		}


		.first{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 23%;
			left: 35%;
		
		
		}
		
		.first:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.second{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 23%;
			left: 46%;
		
		}
		
		.second:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.third{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 23%;
			left: 57%;
		
		}
		
		.third:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.forth{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 44%;
			left: 35%;
		
		}
		
		.forth:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.fifth{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 44%;
			left: 46%;
		
		}
		
		.fifth:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		.sixth{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 44%;
			left: 57%;
		
		}
		
		.sixth:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.seventh{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 65%;
			left: 35%;
		
		}
		
		
		.seventh:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.eigth{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 65%;
			left: 46%;
		
		}
		
		.eigth:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		.ninth{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 65%;
			left: 57%;

		
		}
		
		.ninth:hover img{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}
		
		
		.imagecenter{
			top: 10%;
			left: 15%;
			position: absolute;
			width: 70px ;
			cursor: pointer;
		}
		
		.player1{
			top: 15%;
			left: 15%;
			position: absolute;
			font-family: courier new;
		}
		
		.player2{
			top: 15%;
			right: 15%;
			position: absolute;
			font-family: courier new;
		}


		.winner{
			position: fixed;
			top: 23%;
			left: 35%;		
			width: 0%;
			height: 0%;

		}

		.buttonPlay{
			   cursor: pointer;
			   width: 120px;
			   height: 40px;
			   position: absolute;
			   top: 88%;
			   left: 45.5%;
			}

		.buttonPlay:hover{
			transform: scale(1.1);
			transition: all .1s ease-in;
		}

		.banner{width: 28%;
			display: block;
			text-align: center;
			font-family: courier new;
			font-weight: bold;
			color: #fff;
			font-size: 25px;
			position: absolute;
			top: 8%;
			left: 35.5%;
		}



		.one1{
			position: absolute;
			top:32%;
			left:14%;
			width: 0px;
			height: 0px;
		}

		.one2{
			position: absolute;
			top:32%;
			left:20%;
			width: 0px;
			height: 0px;
		}

		.one3{
			
			position: absolute;
			top:32%;
			left:26%;
			width: 0px;
			height: 0px;
		}

		.two1{
			position: absolute;
			top:32%;
			right:26%;
			width: 0px;
			height: 0px;
		}

		.two2{
			position: absolute;
			top:32%;
			right:20%;
			width: 0px;
			height: 0px;
		}

		.two3{
			position: absolute;
			top:32%;
			right:14%;
			width: 0px;
			height: 0px;
		}